<table class="table table-striped">
  <thead>
    <tr>
      <th>Index</th>      
      <th>Name</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= @users.index(user)+1 %></td>
        <td><%= user.name %></td>
        <td><%= user.age%></td>
        <td>
          <%= link_to 'edit', edit_user_path(user), :class => 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>